<h1>Analizador de PL0 ampliado usando PEG.js</h1>
<div id="content">
  <p>
  <nav>
  <ul>
      <li><!--<a class = "examples" >constant_dup</a>--><button class = "examples">constant_dup</button></li>
      <li><a class = "examples" href="if" >if</a></li>
      <li><a class = "examples" href="ifelseamb" class = "current">ifelseamb</a></li>
      <li><a class = "examples" href="input1" >input1</a></li>
  </ul>
  </nav>
  <p class="loadfile">
    <input type="file" id="examples" />
  </p>
  <table>
    <tr>
      <td>
        <form action="/save" method="post">
          <textarea id="input" name="input"
                    autofocus cols = "50" rows = "10">
if 4 then if 5 then a = 2 else b = 8
                    </textarea>
          <br/>
          <label for="saveas">Save as</label>
          <input id="saveas" type="text" name="fname"
                 title="name" pattern="\w+" />
          <center><button type="button" id="download">Download AST</button></center>
        </form>
      </td>
      <td><button id="parse" type="button">parse</button></td>
    </tr>
  </table>
  </p>
  <div class="output">
    <pre>
        <span class="ast" id="output"></span> <!-- Output goes here! -->
        <span class="semanticErrors" id="semantic"></span>
    </pre>
  </div>
</div>

<script src="/pl0.js"></script>
<script src="/semantic.js"></script>
<script src="main.js"></script>
