<h1>Analizador de PL0 ampliado usando PEG.js</h1>
<div id="content">
  <p>
  <nav>
  <ul>
      <li><button class = "example">constant_dup</button></li>
      <li><button class = "example">input</button></li>
      <li><button class = "example">input2</button></li>
      <li><button class = "example">not_declared_variables</button></li>
      <li><button class = "example">switch_1</button></li>
      <li><button class = "example">twiceded</button></li>
      <li><button class = "example">two_functions</button></li>
  </ul>
  </nav>
  <p class="loadfile">
    <input type="file" id="examples" />
  </p>
  <table>
    <tr>
      <td>
        <form action="/save" method="post">
          <textarea id="input" name="input"
                    autofocus cols = "50" rows = "10">
if 4 then if 5 then a = 2 else b = 8
                    </textarea>
          <br/>
          <center><button type="button" id="download">Download AST</button></center>
        </form>
      </td>
      <td><button id="parse" type="button">parse</button></td>
    </tr>
  </table>
  </p>
  <div class="output">
    <pre>
      <p class="semanticErrors" id="semantic"></p>
      <p class="ast" id="output"></p> <!-- Output goes here! -->
    </pre>
  </div>
</div>
<script src="/pl0.js"></script>
<script src="/semantic.js"></script>
<script src="main.js"></script>