<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>PL0 Analizer</title>
    <link rel="icon" type="image/jpg" href="../public/favicon.jpg" />
    <link rel="stylesheet" href="../public/styles.scss" type="text/css" media="screen" charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <nav>
      <ul>
        <li> <a href="/grammar"  title="Grammar" >Grammar</a> </li>
        <li> <a href="/"  title="Home" >Home</a> </li>
        <li> <a href="https://campusvirtual.ull.es/1516/course/view.php?id=178"  title="PL">PL-UDV</a> </li>
        <li> <a href=""  title="Repo">Repo</a> </li>
        <li> <a href="http://en.wikipedia.org/wiki/Recursive_descent_parser#Example_parser"   title="Wikipedia">PL0</a> </li>
        <li> <a href="http://pegjs.majda.cz/"  title="PEG.js">PEG.js</a> </li>
        <li> <a href="http://datamapper.org/"  title="DataMapper">DataMapper</a> </li>
        <li> <a href="http://sass-lang.com/"  title="Sass">Sass</a> </li>
      </ul>
    </nav>
      <h1>Analizador de PL0 ampliado usando PEG.js</h1>
<div id="content">
  <p>
  <nav>
  <ul>

      <li><a href="beq2times3" >beq2times3</a></li>

      <li><a href="if" >if</a></li>

      <li><a href="ifelseamb" class = "current">ifelseamb</a></li>

      <li><a href="input1" >input1</a></li>

  </ul>
  </nav>
  <p class="loadfile">
    <input type="file" id="examples" />
  </p>
  <table>
    <tr>
      <td>
        <form action="/save" method="post">
          <textarea class="drop_zone" id="input" name="input"
                    autofocus cols = "50" rows = "10">
if 4 then if 5 then a = 2 else b = 8
                    </textarea>
          <br/>
          <label for="saveas">Save as</label>
          <input id="saveas" type="text" name="fname"
                 title="name" pattern="\w+" />
          <center><button id="download" type="button">Download AST</button></center>       
        </form>
      </td>
      <td><button id="parse" type="button">parse</button></td>
    </tr>
  </table>
  </p>
  <div class="output">
    <pre>
<span id="output"></span> <!-- Output goes here! -->
    </pre>
  </div>
</div>

<script src="../lib/pl0.js"></script>
<script src="../public/main.js"></script>

  </body>
</html>

